In [1]:
import pandas as pd
df = pd.read_csv('C:/Users/jaybh/OneDrive/Desktop/Machine Learning/Email Spam Detection Naive Bias/data.csv')

In [2]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
from sklearn.preprocessing import LabelEncoder

In [4]:
cat = LabelEncoder()
df['cat'] = cat.fit_transform(df['Category'])

In [5]:
df.drop('Category', axis = 'columns')

                                                Message  cat
0     Go until jurong point, crazy.. Available only ...    0
1                         Ok lar... Joking wif u oni...    0
2     Free entry in 2 a wkly comp to win FA Cup fina...    1
3     U dun say so early hor... U c already then say...    0
4     Nah I don't think he goes to usf, he lives aro...    0
...                                                 ...  ...
5567  This is the 2nd time we have tried 2 contact u...    1
5568               Will ü b going to esplanade fr home?    0
5569  Pity, * was in mood for that. So...any other s...    0
5570  The guy did some bitching but I acted like i'd...    0
5571                         Rofl. Its true to its name    0

[5572 rows x 2 columns]

In [6]:
from sklearn.feature_extraction.text import CountVectorizer

In [7]:
v = CountVectorizer()

In [13]:
x = v.fit_transform(df['Message'])
X = pd.DataFrame(x)
X.head()

                                                   0
0    (0, 3567)\t1\n  (0, 8080)\t1\n  (0, 4370)\t1...
1    (0, 5534)\t1\n  (0, 4533)\t1\n  (0, 4338)\t1...
2    (0, 4110)\t1\n  (0, 3369)\t1\n  (0, 2959)\t2...
3    (0, 2811)\t1\n  (0, 6675)\t2\n  (0, 7070)\t1...
4    (0, 7802)\t1\n  (0, 5266)\t1\n  (0, 2720)\t1...

In [9]:
from sklearn.naive_bayes import MultinomialNB

In [10]:
model = MultinomialNB()
y = df['cat']

In [11]:
from sklearn.model_selection import cross_val_score
cross_val_score(model,x , y).mean()

0.9793612481986298