In [1]:
import pandas as pd
df = pd.read_csv('C:/Users/jaybh/OneDrive/Desktop/Machine Learning/Fake News/data/WELFake_Dataset.csv')

In [2]:
df.head()

,Unnamed: 0,title,text,label
0,0,LAW ENFORCEMENT ON HIGH ALERT Following Threat...,No comment is expected from Barack Obama Membe...,1
1,1,NaN,Did they post their votes for Hillary already?,1
2,2,UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...,"Now, most of the demonstrators gathered last ...",1
3,3,"Bobby Jindal, raised Hindu, uses story of Chri...",A dozen politically active pastors came here f...,0
4,4,SATAN 2: Russia unvelis an image of its terrif...,"The RS-28 Sarmat missile, dubbed Satan 2, will...",1

In [3]:
df1 = df.drop(['Unnamed: 0', 'label'], axis = 'columns')
df1.head()

,title,text
0,LAW ENFORCEMENT ON HIGH ALERT Following Threat...,No comment is expected from Barack Obama Membe...
1,NaN,Did they post their votes for Hillary already?
2,UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...,"Now, most of the demonstrators gathered last ..."
3,"Bobby Jindal, raised Hindu, uses story of Chri...",A dozen politically active pastors came here f...
4,SATAN 2: Russia unvelis an image of its terrif...,"The RS-28 Sarmat missile, dubbed Satan 2, will..."

In [4]:
from sklearn.feature_extraction.text import CountVectorizer

In [5]:
v_title = CountVectorizer()
v_text = CountVectorizer()
df1['title'].fillna('Not available', inplace=True)
df1['text'].fillna('Not available', inplace=True)
df1.head()

,title,text
0,LAW ENFORCEMENT ON HIGH ALERT Following Threat...,No comment is expected from Barack Obama Membe...
1,Not available,Did they post their votes for Hillary already?
2,UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...,"Now, most of the demonstrators gathered last ..."
3,"Bobby Jindal, raised Hindu, uses story of Chri...",A dozen politically active pastors came here f...
4,SATAN 2: Russia unvelis an image of its terrif...,"The RS-28 Sarmat missile, dubbed Satan 2, will..."

In [7]:
x_title = v_title.fit_transform(df1['title'])

In [8]:
x_text = v_text.fit_transform(df1['text'])

In [13]:
from scipy.sparse import hstack
x = hstack((x_title, x_text))

In [14]:
from sklearn.naive_bayes import MultinomialNB

In [15]:
model = MultinomialNB()
y = df['label']

In [16]:
from sklearn.model_selection import cross_val_score
cross_val_score(model,x , y).mean()

0.9041367156377837

In [ ]:
print(x.shape)  # Check the shape of x
print(y.shape)